:root {
  --body-font: "Poppins", sans-serif;
  --body-color: rgb(224, 196, 250);
  --spacing: 30px;
}

.paragrap-heading {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  padding-top: 120px;

  font-weight: bolder;
}

.head h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
}

.head h2 {
  font-style: italic;
}
.center {
  text-align: center;
  font-size: 40px;
}

.head {
  text-align: center;
  background: var(--body-color);
  font-family: var(--body-font);
}
.btn-primary {
  margin: 30px;
  padding: 18px;
  font-size: 18px;
}
.format-paragrah {
  font-size: 20px;
  line-height: var(--spacing);
}
.about-section {
  padding: 100px 20px;
}
.about-section h1 {
  font-size: 64px;
  font-family: var(--body-font);
}
.about-section h2 {
  font-size: 30px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 46px;
  }

  h2 {
    color: blue;
  }
  .links {
    display: block;
    text-align: center;
  }
  .center {
    padding-top: 0;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
}
